@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Core Forms Demo</h1>
    <ul>
        <li><a href="/Home/PeopleList">List of people</a></li>
    </ul>
</div>
